# Exclude all...
*

# ...except essential
!/.devcontainer
!/.devcontainer/**
!/.github
!/.github/**
!/.dockerignore
!/.eslintrc.json
!/.gitignore
!/.hadolint.yaml
!/Dockerfile
!/index.js
!/package*.json
!/README.md
